@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /* "Sıçrama" efektini ve sayfanın yenilenmesini engeller */
    overscroll-behavior: none;
  }

  /* Ana gövdenin kaymasını engellemek için */
  body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  /* #root elementinin tüm alanı kaplamasını sağlar */
  #root {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* İçerik sığmazsa sadece bu alanın kaymasını sağlar */
    -webkit-overflow-scrolling: touch; /* iOS'te akıcı kaydırma deneyimi için */
  }
}