@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden;
  }

  body {
    /* iOS ve Android'de kaydırma sonunda oluşan sıçrama/parlama efektini engeller */
    overscroll-behavior-y: contain;
    /* Kullanıcının metin seçmesini engeller, daha uygulama benzeri bir his verir */
    user-select: none;
    -webkit-user-select: none; /* Safari için */
  }
}