@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /*
      Bu, iPhone'un altındaki çentik gibi güvenli alanların
      doğru arka plan rengine sahip olmasını sağlar.
    */
    @apply bg-white dark:bg-gray-800;
  }

  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden;
  }

  body {
    /* Sayfanın "sıçrama" efektini ve metin seçimini engeller */
    overscroll-behavior-y: contain;
    user-select: none;
    -webkit-user-select: none;
  }
}